In [1]:
import requests
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from fuzzywuzzy import process


# List of raw URLs to the .pickle files
urls = [
    'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/distance_df.pickle',
    'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/flights_df.pickle',
    'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/flights_df_all_fields.pickle',
    'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/geos_df.pickle',
    'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/msa_df.pickle',
    'https://github.com/mamaOcoder/highspeedrail/raw/88761104ba44f569e5fadde614eb5ed6a54900ba/data/pickled/tti_df.pickle',
    'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/city_pair_df.pickle',
]

loaded_data = []

for url in urls:
    response = requests.get(url)
    if response.status_code == 200:
        # Load the content of the file
        data = pickle.loads(response.content)
        loaded_data.append(data)
    else:
        print(f"Failed to retrieve {url}")

Failed to retrieve https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/city_pair_df.pickle

In [2]:
# Convert loaded data to DataFrames
distance_df, flights_df, flights_df_all_fields, geos_df, msa_df, tti_df = map(pd.DataFrame, loaded_data)

In [3]:
print(tti_df.columns)

Index(['AreaGroup', 'MetroArea', 'StateCode', 'PopulationGroup', 'Year',
       'Population_thousands', 'PopulationRank', 'AutoCommuters',
       'FreewayDailyVehicle_miles_thousands',
       'ArterialStreetDailyVehicle_miles_thousands', 'ValueOfTime',
       'CommercialValueOfTime', 'AverageStateGasCost',
       'AverageStateDieselCost', 'CongestedTravel', 'CongestedSystem',
       'NumberOfRushHours', 'TotalGallons_thousands', 'TotalGallonsRank',
       'GallonsPerAutoCommuter', 'GallonsPerAutoCommuterRank', 'TotalDelay',
       'TotalDelayRank', 'DelayPerAutoCommuter', 'DelayPerAutoCommuterRank',
       'TravelTimeIndexValue', 'TravelTimeIndexRank',
       'CommuterStressIndexValue', 'CommuterStressIndexRank',
       'FreewayPlanningTimeIndexValue', 'FreewayPlanningTimeIndexRank',
       'AnnualCongestionCostTotalDollars_millions', 'AnnualCongestionCostRank',
       'AnnualCongestionCostPerAutoCommuter',
       'AnnualCongestionCostPerAutoCommuterRank', 'TruckTotalDelay_thousands',
       'TruckTotalDelayRank', 'TruckTotalGallons', 'TruckTotalGallonsRank',
       'TruckAnnualCost_millions', 'TruckAnnualCostRank',
       'AnnualCO2ExcessDueCongestion_tons', 'AnnualCO2ExcessDueCongestionRank',
       'AnnualCO2ExcessDueAllTravel_tons', 'AnnualCO2ExcessDueAllTravelRank',
       'AnnualCO2ExcessTruckCongestion_tons',
       'AnnualCO2ExcessTruckCongestionRank', 'AnnualCO2ExcessTruckTravel_tons',
       'AnnualCO2ExcessTruckTravelRank', 'PopulationRankAll', 'WastedFuelRank',
       'WastedFuelPerCommuterRank', 'AnnualDelayRank', 'DelayPerCommuterRank',
       'TravelTimeIndexRankAll', 'AnnualCongCostRank', 'CostPerCommuterRank',
       'AnnualTruckDelayRank', 'WastedFuelTrucksRank', 'TruckCongCostRank'],
      dtype='object')

In [3]:
city_column_name = 'MetroArea'  

def get_best_match(city, choices):
    match, score = process.extractOne(city, choices)
    return match if score > 80 else None 

# Fuzzy matching to align TTI city names with other datasets
all_city_names = set(msa_df['MainCity']).union(set(distance_df['Origin']), set(distance_df['Destination']))
tti_df['Matched_City'] = tti_df[city_column_name].apply(lambda x: get_best_match(x, all_city_names))

# Convert TTI DataFrame to a dictionary for quick lookup
tti_data = tti_df.set_index('Matched_City')['TravelTimeIndexValue'].to_dict()

In [4]:
# Define scoring functions
def score_population(pop):
    pop = int(pop.replace(',', '')) if isinstance(pop, str) else pop
    return (pop / max(city_population.values())) * 100

def score_distance(dist):
    if dist <= 150:
        return ((dist / 100) + 1) * 10
    elif 150 < dist <= 300:
        return 100  # Optimal distance score
    elif 300 < dist <= 350:
        return (((500 - dist) / 100) + 0.5) * 10
    elif 350 < dist <= 1000:
        return ((1000 - dist) / 100) * 10
    else:
        return 0

def score_gdp(gdp):
    return (gdp / max(city_gdp.values())) * 100

def score_congestion(ttis, city):
    return (ttis.get(city, 0) / max(ttis.values())) * 100

def score_emissions(distance):
    # Emission factors in kgCO2e per passenger km
    hsr_emissions_factor = 0.0045
    air_travel_emissions_factor = 0.115
    hsr_emissions = distance * hsr_emissions_factor
    air_emissions = distance * air_travel_emissions_factor
    emissions_savings = air_emissions - hsr_emissions
    max_savings = air_travel_emissions_factor * 1000 - hsr_emissions_factor * 1000
    return (emissions_savings / max_savings) * 100

In [11]:
# Ensure the necessary dataframes are loaded
msa_merged_df = pd.merge(msa_df, geos_df, left_on='MainCity', right_on='MainCity')

# Create dictionaries for quick lookup of population and GDP
city_population = msa_merged_df.set_index('MainCity')['Population'].to_dict()
city_gdp = msa_merged_df.set_index('MainCity')['GDP_thousands_dollars'].to_dict()

# Define the function to score city pairs
def score_city_pairs(city_pairs):
    # Calculate scores for each city pair
    city_pairs['Population_Score_Origin'] = city_pairs['Origin'].map(lambda x: score_population(city_population.get(x, 0)))
    city_pairs['Population_Score_Destination'] = city_pairs['Destination'].map(lambda x: score_population(city_population.get(x, 0)))
    city_pairs['Distance_Score'] = city_pairs['Distance_miles'].map(score_distance)
    city_pairs['GDP_Score_Origin'] = city_pairs['Origin'].map(lambda x: score_gdp(city_gdp.get(x, 0)))
    city_pairs['GDP_Score_Destination'] = city_pairs['Destination'].map(lambda x: score_gdp(city_gdp.get(x, 0)))
    city_pairs['Congestion_Score_Origin'] = city_pairs['Origin'].map(lambda x: score_congestion(tti_data, x))
    city_pairs['Congestion_Score_Destination'] = city_pairs['Destination'].map(lambda x: score_congestion(tti_data, x))
    city_pairs['Emissions_Score'] = city_pairs['Distance_miles'].map(lambda x: score_emissions(x * 1.60934))  # Convert miles to km

    # Sum the scores to get a total score for each city pair
    city_pairs['Total_Score'] = city_pairs[['Population_Score_Origin', 'Population_Score_Destination', 
                                            'Distance_Score', 'GDP_Score_Origin', 'GDP_Score_Destination', 
                                            'Congestion_Score_Origin', 'Congestion_Score_Destination', 
                                            'Emissions_Score']].sum(axis=1)

    # Normalize the total score to a scale of 100
    city_pairs['Normalized_Score'] = (city_pairs['Total_Score'] / city_pairs['Total_Score'].max()) * 100

    return city_pairs

# Apply the scoring to the city pairs and filter based on distance
city_pairs = score_city_pairs(distance_df[['Origin', 'Destination', 'Distance_miles']].copy())
filtered_city_pairs = city_pairs[
    ~city_pairs['Origin'].str.contains(', AK|, HI') &
    ~city_pairs['Destination'].str.contains(', AK|, HI') &
    (city_pairs['Distance_miles'] <= 1000)
]

In [12]:
# Rank and display the top 50 city pairs
top_50_filtered_city_pairs = filtered_city_pairs.nlargest(50, 'Normalized_Score')
print(top_50_filtered_city_pairs[['Origin', 'Destination', 'Distance_miles', 
                                  'Population_Score_Origin', 'Population_Score_Destination', 
                                  'Distance_Score', 'GDP_Score_Origin', 
                                  'GDP_Score_Destination', 'Congestion_Score_Origin', 
                                  'Congestion_Score_Destination', 'Emissions_Score', 
                                  'Total_Score', 'Normalized_Score']])

                  Origin       Destination  Distance_miles  \
25629        Chicago, IL      New York, NY      789.945845
93337       New York, NY       Chicago, IL      789.789260
92838       New York, NY       Atlanta, GA      873.701064
6339         Atlanta, GA      New York, NY      864.373664
96326       New York, NY    Washington, DC      228.846590
141429    Washington, DC      New York, NY      224.769153
17859         Boston, MA      New York, NY      216.211632
93132       New York, NY        Boston, MA      215.271497
118229     St. Louis, MO      New York, NY      952.860622
95722       New York, NY     St. Louis, MO      949.868721
37179        Detroit, MI      New York, NY      614.315332
93634       New York, NY       Detroit, MI      614.145698
94337       New York, NY  Jacksonville, FL      940.045467
64229   Jacksonville, FL      New York, NY      932.546140
14039     Birmingham, AL      New York, NY      962.446513
93036       New York, NY    Birmingham, AL      961.188237
83519        Madison, WI      New York, NY      940.927192
93333       New York, NY     Charlotte, NC      634.301731
94836       New York, NY       Madison, WI      935.250968
25589      Charlotte, NC      New York, NY      624.898523
64169   Indianapolis, IN      New York, NY      709.992175
94331       New York, NY  Indianapolis, IN      707.615431
87409      Milwaukee, WI      New York, NY      880.283247
94939       New York, NY     Milwaukee, WI      880.025378
60389     Huntsville, AL      New York, NY      916.858387
94239       New York, NY    Huntsville, AL      915.518711
10159      Baltimore, MD      New York, NY      191.487901
92934       New York, NY     Baltimore, MD      190.325316
44949       Florence, AL      New York, NY      988.322887
93839       New York, NY      Florence, AL      987.109349
29419    Clarksville, TN      New York, NY      930.417323
93430       New York, NY   Clarksville, TN      928.986927
52659      Green Bay, WI      New York, NY      996.201250
93438       New York, NY      Columbus, GA      980.292909
94038       New York, NY     Green Bay, WI      994.488130
92930       New York, NY        Auburn, AL      981.075837
29499       Columbus, GA      New York, NY      972.220057
64179      Iowa City, IA      New York, NY      996.072005
94332       New York, NY     Iowa City, IA      995.932817
10119         Auburn, AL      New York, NY      972.123745
92835       New York, NY      Appleton, WI      982.820025
6309        Appleton, WI      New York, NY      982.586390
25649     Cincinnati, OH      New York, NY      639.087530
93339       New York, NY    Cincinnati, OH      637.178678
37209        Dubuque, IA      New York, NY      973.141551
93637       New York, NY       Dubuque, IA      967.313091
92732       New York, NY        Albany, GA      984.469765
2419          Albany, GA      New York, NY      976.883447
33369        Decatur, AL      New York, NY      941.242849
96227       New York, NY      Valdosta, GA      985.831189

        Population_Score_Origin  Population_Score_Destination  Distance_Score  \
25629                 47.505932                    100.000000       21.005415
93337                100.000000                     47.505932       21.021074
92838                100.000000                     32.347833       12.629894
6339                  32.347833                    100.000000       13.562634
96326                100.000000                     32.336109      100.000000
141429                32.336109                    100.000000      100.000000
17859                 25.228824                    100.000000      100.000000
93132                100.000000                     25.228824      100.000000
118229                14.344873                    100.000000        4.713938
95722                100.000000                     14.344873        5.013128
37179                 22.270225                    100.000000       38.568467
93634                100.000000                     22.270225       38.585430
94337                100.000000                      8.786635        5.995453
64229                  8.786635                    100.000000        6.745386
14039                  6.073827                    100.000000        3.755349
93036                100.000000                      6.073827        3.881176
83519                  3.561063                    100.000000        5.907281
93333                100.000000                     14.386497       36.569827
94836                100.000000                      3.561063        6.474903
25589                 14.386497                    100.000000       37.510148
64169                 10.967487                    100.000000       29.000783
94331                100.000000                     10.967487       29.238457
87409                  8.002893                    100.000000       11.971675
94939                100.000000                      8.002893       11.997462
60389                  2.704109                    100.000000        8.314161
94239                100.000000                      2.704109        8.448129
10159                 14.536259                    100.000000      100.000000
92934                100.000000                     14.536259      100.000000
44949                  0.795841                    100.000000        1.167711
93839                100.000000                      0.795841        1.289065
29419                  1.746285                    100.000000        6.958268
93430                100.000000                      1.746285        7.101307
52659                  1.702112                    100.000000        0.379875
93438                100.000000                      1.660498        1.970709
94038                100.000000                      1.702112        0.551187
92930                100.000000                      1.033862        1.892416
29499                  1.660498                    100.000000        2.777994
64179                  0.923611                    100.000000        0.392800
94332                100.000000                      0.923611        0.406718
10119                  1.033862                    100.000000        2.787626
92835                100.000000                      1.263872        1.717997
6309                   1.263872                    100.000000        1.741361
25649                 11.649656                    100.000000       36.091247
93339                100.000000                     11.649656       36.282132
37209                  0.507158                    100.000000        2.685845
93637                100.000000                      0.507158        3.268691
92732                100.000000                      0.746262        1.553023
2419                   0.746262                    100.000000        2.311655
33369                  0.813586                    100.000000        5.875715
96227                100.000000                      0.775034        1.416881

        GDP_Score_Origin  GDP_Score_Destination  Congestion_Score_Origin  \
25629          38.502974             100.000000                87.837838
93337         100.000000              38.502974                71.621622
92838         100.000000              24.310571                71.621622
6339           24.310571             100.000000                84.459459
96326         100.000000              30.539171                71.621622
141429         30.539171             100.000000                84.459459
17859          26.426791             100.000000                82.432432
93132         100.000000              26.426791                71.621622
118229          9.704822             100.000000                77.027027
95722         100.000000               9.704822                71.621622
37179          14.118452             100.000000                81.081081
93634         100.000000              14.118452                71.621622
94337         100.000000               5.416121                71.621622
64229           5.416121             100.000000                80.405405
14039           3.656513             100.000000                76.351351
93036         100.000000               3.656513                71.621622
83519           2.815683             100.000000                79.054054
93333         100.000000              10.582088                71.621622
94836         100.000000               2.815683                71.621622
25589          10.582088             100.000000                79.054054
64169           8.524114             100.000000                79.054054
94331         100.000000               8.524114                71.621622
87409           5.573341             100.000000                71.621622
94939         100.000000               5.573341                71.621622
60389           1.761316             100.000000                77.027027
94239         100.000000               1.761316                71.621622
10159          11.159324             100.000000                80.405405
92934         100.000000              11.159324                71.621622
44949           0.302339             100.000000                74.324324
93839         100.000000               0.302339                71.621622
29419           0.749316             100.000000                76.351351
93430         100.000000               0.749316                71.621622
52659           1.135575             100.000000                71.621622
93438         100.000000               0.787634                71.621622
94038         100.000000               1.135575                71.621622
92930         100.000000               0.381647                71.621622
29499           0.787634             100.000000                72.972973
64179           0.596338             100.000000                72.297297
94332         100.000000               0.596338                71.621622
10119           0.381647             100.000000                73.648649
92835         100.000000               0.784808                71.621622
6309            0.784808             100.000000                72.297297
25649           8.604860             100.000000                75.000000
93339         100.000000               8.604860                71.621622
37209           0.378328             100.000000                73.648649
93637         100.000000               0.378328                71.621622
92732         100.000000               0.338035                71.621622
2419            0.338035             100.000000                72.297297
33369           0.371580             100.000000                74.324324
96227         100.000000               0.329695                71.621622

        Congestion_Score_Destination  Emissions_Score  Total_Score  \
25629                      71.621622       127.129145   593.602926
93337                      87.837838       127.103945   593.593385
92838                      84.459459       140.608207   565.977585
6339                       71.621622       139.107111   565.409229
96326                      84.459459        36.829197   555.785558
141429                     71.621622        36.172999   555.129360
17859                      71.621622        34.795803   540.505472
93132                      82.432432        34.644503   540.354172
118229                     71.621622       153.347671   530.759952
95722                      77.027027       152.866173   530.577644
37179                      71.621622        98.864224   526.524071
93634                      81.081081        98.836924   526.513734
94337                      80.405405       151.285277   523.510514
64229                      71.621622       150.078381   523.053550
14039                      71.621622       154.890367   516.349029
93036                      76.351351       154.687868   516.272357
83519                      71.621622       151.427177   514.386880
93333                      79.054054       102.080715   514.294802
94836                      79.054054       150.513679   514.041005
25589                      71.621622       100.567419   513.721827
64169                      71.621622       114.261881   513.429940
94331                      79.054054       113.879382   513.285116
87409                      71.621622       141.667504   510.458656
94939                      71.621622       141.626004   510.442943
60389                      71.621622       147.553688   508.981923
94239                      77.027027       147.338088   508.900291
10159                      71.621622        30.816914   508.539524
92934                      80.405405        30.629814   508.352425
44949                      71.621622       159.054755   507.266593
93839                      74.324324       158.859456   507.192647
29419                      71.621622       149.735782   507.162624
93430                      76.351351       149.505582   507.075464
52659                      71.621622       160.322652   506.783457
93438                      72.972973       157.762459   506.775894
94038                      71.621622       160.046953   506.679070
92930                      73.648649       157.888459   506.466655
29499                      71.621622       156.463263   506.283983
64179                      71.621622       160.301852   506.133520
94332                      72.297297       160.279452   506.125039
10119                      71.621622       156.447763   505.921168
92835                      72.297297       158.169158   505.854755
6309                       71.621622       158.131558   505.840518
25649                      71.621622       102.850913   505.818297
93339                      75.000000       102.543713   505.701983
37209                      71.621622       156.611562   505.453164
93637                      73.648649       155.673565   505.098012
92732                      72.297297       158.434657   504.990896
2419                       71.621622       157.213761   504.528632
33369                      71.621622       151.477977   504.484803
96227                      71.621622       158.653757   504.418610

        Normalized_Score
25629          56.288361
93337          56.287456
92838          53.668790
6339           53.614896
96326          52.702332
141429         52.640108
17859          51.253398
93132          51.239051
118229         50.329280
95722          50.311993
37179          49.927613
93634          49.926633
94337          49.641852
64229          49.598521
14039          48.962765
93036          48.955495
83519          48.776704
93333          48.767973
94836          48.743907
25589          48.713641
64169          48.685963
94331          48.672230
87409          48.404211
94939          48.402721
60389          48.264180
94239          48.256439
10159          48.222229
92934          48.204488
44949          48.101524
93839          48.094512
29419          48.091665
93430          48.083400
52659          48.055710
93438          48.054993
94038          48.045812
92930          48.025670
29499          48.008348
64179          47.994080
94332          47.993276
10119          47.973944
92835          47.967646
6309           47.966296
25649          47.964189
93339          47.953160
37209          47.929565
93637          47.895888
92732          47.885731
2419           47.841897
33369          47.837741
96227          47.831464

In [13]:
# Display the top 50 city pairs
print(top_50_filtered_city_pairs[['Origin', 'Destination',  
                         'Total_Score', 'Normalized_Score']])

                  Origin       Destination  Total_Score  Normalized_Score
25629        Chicago, IL      New York, NY   593.602926         56.288361
93337       New York, NY       Chicago, IL   593.593385         56.287456
92838       New York, NY       Atlanta, GA   565.977585         53.668790
6339         Atlanta, GA      New York, NY   565.409229         53.614896
96326       New York, NY    Washington, DC   555.785558         52.702332
141429    Washington, DC      New York, NY   555.129360         52.640108
17859         Boston, MA      New York, NY   540.505472         51.253398
93132       New York, NY        Boston, MA   540.354172         51.239051
118229     St. Louis, MO      New York, NY   530.759952         50.329280
95722       New York, NY     St. Louis, MO   530.577644         50.311993
37179        Detroit, MI      New York, NY   526.524071         49.927613
93634       New York, NY       Detroit, MI   526.513734         49.926633
94337       New York, NY  Jacksonville, FL   523.510514         49.641852
64229   Jacksonville, FL      New York, NY   523.053550         49.598521
14039     Birmingham, AL      New York, NY   516.349029         48.962765
93036       New York, NY    Birmingham, AL   516.272357         48.955495
83519        Madison, WI      New York, NY   514.386880         48.776704
93333       New York, NY     Charlotte, NC   514.294802         48.767973
94836       New York, NY       Madison, WI   514.041005         48.743907
25589      Charlotte, NC      New York, NY   513.721827         48.713641
64169   Indianapolis, IN      New York, NY   513.429940         48.685963
94331       New York, NY  Indianapolis, IN   513.285116         48.672230
87409      Milwaukee, WI      New York, NY   510.458656         48.404211
94939       New York, NY     Milwaukee, WI   510.442943         48.402721
60389     Huntsville, AL      New York, NY   508.981923         48.264180
94239       New York, NY    Huntsville, AL   508.900291         48.256439
10159      Baltimore, MD      New York, NY   508.539524         48.222229
92934       New York, NY     Baltimore, MD   508.352425         48.204488
44949       Florence, AL      New York, NY   507.266593         48.101524
93839       New York, NY      Florence, AL   507.192647         48.094512
29419    Clarksville, TN      New York, NY   507.162624         48.091665
93430       New York, NY   Clarksville, TN   507.075464         48.083400
52659      Green Bay, WI      New York, NY   506.783457         48.055710
93438       New York, NY      Columbus, GA   506.775894         48.054993
94038       New York, NY     Green Bay, WI   506.679070         48.045812
92930       New York, NY        Auburn, AL   506.466655         48.025670
29499       Columbus, GA      New York, NY   506.283983         48.008348
64179      Iowa City, IA      New York, NY   506.133520         47.994080
94332       New York, NY     Iowa City, IA   506.125039         47.993276
10119         Auburn, AL      New York, NY   505.921168         47.973944
92835       New York, NY      Appleton, WI   505.854755         47.967646
6309        Appleton, WI      New York, NY   505.840518         47.966296
25649     Cincinnati, OH      New York, NY   505.818297         47.964189
93339       New York, NY    Cincinnati, OH   505.701983         47.953160
37209        Dubuque, IA      New York, NY   505.453164         47.929565
93637       New York, NY       Dubuque, IA   505.098012         47.895888
92732       New York, NY        Albany, GA   504.990896         47.885731
2419          Albany, GA      New York, NY   504.528632         47.841897
33369        Decatur, AL      New York, NY   504.484803         47.837741
96227       New York, NY      Valdosta, GA   504.418610         47.831464

In [10]:
# Filter city pairs to exclude distances greater than 1000 miles
filtered_city_pairs = city_pairs[city_pairs['Distance_miles'] <= 1000].copy()

# Apply the scoring functions to the filtered dataset
filtered_city_pairs['Population_Score_Origin'] = filtered_city_pairs['Origin'].map(lambda x: score_population(city_population.get(x, 0)))
filtered_city_pairs['Population_Score_Destination'] = filtered_city_pairs['Destination'].map(lambda x: score_population(city_population.get(x, 0)))
filtered_city_pairs['Distance_Score'] = filtered_city_pairs['Distance_miles'].map(score_distance)
filtered_city_pairs['GDP_Score_Origin'] = filtered_city_pairs['Origin'].map(lambda x: score_gdp(city_gdp.get(x, 0)))
filtered_city_pairs['GDP_Score_Destination'] = filtered_city_pairs['Destination'].map(lambda x: score_gdp(city_gdp.get(x, 0)))
filtered_city_pairs['Congestion_Score_Origin'] = filtered_city_pairs['Origin'].map(lambda x: score_congestion(tti_data, x))
filtered_city_pairs['Congestion_Score_Destination'] = filtered_city_pairs['Destination'].map(lambda x: score_congestion(tti_data, x))
filtered_city_pairs['Emissions_Score'] = filtered_city_pairs['Distance_miles'].map(lambda x: score_emissions(x * 1.60934))  # Convert miles to km

# Calculate total and normalized scores for filtered city pairs
filtered_city_pairs['Total_Score'] = filtered_city_pairs[['Population_Score_Origin', 'Population_Score_Destination', 
                                                          'Distance_Score', 'GDP_Score_Origin', 'GDP_Score_Destination', 
                                                          'Congestion_Score_Origin', 'Congestion_Score_Destination', 
                                                          'Emissions_Score']].sum(axis=1)

filtered_city_pairs['Normalized_Score'] = (filtered_city_pairs['Total_Score'] / filtered_city_pairs['Total_Score'].max()) * 100

# Rank the filtered city pairs by their normalized scores
top_50_filtered_city_pairs = filtered_city_pairs.nlargest(50, 'Normalized_Score')

# Display the top 50 city pairs
print(top_50_filtered_city_pairs[['Origin', 'Destination', 'Distance_miles', 
                                  'Population_Score_Origin', 'Population_Score_Destination', 
                                  'Distance_Score', 'GDP_Score_Origin', 
                                  'GDP_Score_Destination', 'Congestion_Score_Origin', 'Congestion_Score_Destination', 
                                  'Emissions_Score', 'Total_Score', 'Normalized_Score']])

                   Origin        Destination  Distance_miles  \
25629         Chicago, IL       New York, NY      789.945845
93337        New York, NY        Chicago, IL      789.789260
92838        New York, NY        Atlanta, GA      873.701064
6339          Atlanta, GA       New York, NY      864.373664
96326        New York, NY     Washington, DC      228.846590
141429     Washington, DC       New York, NY      224.769153
17859          Boston, MA       New York, NY      216.211632
93132        New York, NY         Boston, MA      215.271497
23632         Chicago, IL         Boston, MA      983.803034
16057          Boston, MA        Chicago, IL      983.560078
139627     Washington, DC        Chicago, IL      696.210166
26826         Chicago, IL     Washington, DC      696.055445
118229      St. Louis, MO       New York, NY      952.860622
95722        New York, NY      St. Louis, MO      949.868721
4537          Atlanta, GA        Chicago, IL      717.061513
23338         Chicago, IL        Atlanta, GA      716.422122
37179         Detroit, MI       New York, NY      614.315332
93634        New York, NY        Detroit, MI      614.145698
87409       Milwaukee, WI       New York, NY      880.283247
94939        New York, NY      Milwaukee, WI      880.025378
14039      Birmingham, AL       New York, NY      962.446513
93036        New York, NY     Birmingham, AL      961.188237
94337        New York, NY   Jacksonville, FL      940.045467
64229    Jacksonville, FL       New York, NY      932.546140
58078         Houston, TX        Atlanta, GA      792.937125
5437          Atlanta, GA        Houston, TX      792.770598
83519         Madison, WI       New York, NY      940.927192
93333        New York, NY      Charlotte, NC      634.301731
94836        New York, NY        Madison, WI      935.250968
25589       Charlotte, NC       New York, NY      624.898523
64169    Indianapolis, IN       New York, NY      709.992175
94331        New York, NY   Indianapolis, IN      707.615431
122860  San Francisco, CA        Seattle, WA      807.697794
126621        Seattle, WA  San Francisco, CA      807.614530
60389      Huntsville, AL       New York, NY      916.858387
94239        New York, NY     Huntsville, AL      915.518711
10159       Baltimore, MD       New York, NY      191.487901
25649      Cincinnati, OH       New York, NY      639.087530
35387         Detroit, MI        Chicago, IL      282.780971
24124         Chicago, IL        Detroit, MI      282.603880
93339        New York, NY     Cincinnati, OH      637.178678
92934        New York, NY      Baltimore, MD      190.325316
44949        Florence, AL       New York, NY      988.322887
93839        New York, NY       Florence, AL      987.109349
29419     Clarksville, TN       New York, NY      930.417323
93430        New York, NY    Clarksville, TN      928.986927
52659       Green Bay, WI       New York, NY      996.201250
93438        New York, NY       Columbus, GA      980.292909
94038        New York, NY      Green Bay, WI      994.488130
92930        New York, NY         Auburn, AL      981.075837

        Population_Score_Origin  Population_Score_Destination  Distance_Score  \
25629                 47.505932                    100.000000       21.005415
93337                100.000000                     47.505932       21.021074
92838                100.000000                     32.347833       12.629894
6339                  32.347833                    100.000000       13.562634
96326                100.000000                     32.336109      100.000000
141429                32.336109                    100.000000      100.000000
17859                 25.228824                    100.000000      100.000000
93132                100.000000                     25.228824      100.000000
23632                 47.505932                     25.228824        1.619697
16057                 25.228824                     47.505932        1.643992
139627                32.336109                     47.505932       30.378983
26826                 47.505932                     32.336109       30.394456
118229                14.344873                    100.000000        4.713938
95722                100.000000                     14.344873        5.013128
4537                  32.347833                     47.505932       28.293849
23338                 47.505932                     32.347833       28.357788
37179                 22.270225                    100.000000       38.568467
93634                100.000000                     22.270225       38.585430
87409                  8.002893                    100.000000       11.971675
94939                100.000000                      8.002893       11.997462
14039                  6.073827                    100.000000        3.755349
93036                100.000000                      6.073827        3.881176
94337                100.000000                      8.786635        5.995453
64229                  8.786635                    100.000000        6.745386
58078                 38.517577                     32.347833       20.706287
5437                  32.347833                     38.517577       20.722940
83519                  3.561063                    100.000000        5.907281
93333                100.000000                     14.386497       36.569827
94836                100.000000                      3.561063        6.474903
25589                 14.386497                    100.000000       37.510148
64169                 10.967487                    100.000000       29.000783
94331                100.000000                     10.967487       29.238457
122860                23.422416                     20.744617       19.230221
126621                20.744617                     23.422416       19.238547
60389                  2.704109                    100.000000        8.314161
94239                100.000000                      2.704109        8.448129
10159                 14.536259                    100.000000      100.000000
25649                 11.649656                    100.000000       36.091247
35387                 22.270225                     47.505932      100.000000
24124                 47.505932                     22.270225      100.000000
93339                100.000000                     11.649656       36.282132
92934                100.000000                     14.536259      100.000000
44949                  0.795841                    100.000000        1.167711
93839                100.000000                      0.795841        1.289065
29419                  1.746285                    100.000000        6.958268
93430                100.000000                      1.746285        7.101307
52659                  1.702112                    100.000000        0.379875
93438                100.000000                      1.660498        1.970709
94038                100.000000                      1.702112        0.551187
92930                100.000000                      1.033862        1.892416

        GDP_Score_Origin  GDP_Score_Destination  Congestion_Score_Origin  \
25629          38.502974             100.000000                87.837838
93337         100.000000              38.502974                 0.000000
92838         100.000000              24.310571                 0.000000
6339           24.310571             100.000000                84.459459
96326         100.000000              30.539171                 0.000000
141429         30.539171             100.000000                84.459459
17859          26.426791             100.000000                82.432432
93132         100.000000              26.426791                 0.000000
23632          38.502974              26.426791                87.837838
16057          26.426791              38.502974                82.432432
139627         30.539171              38.502974                84.459459
26826          38.502974              30.539171                87.837838
118229          9.704822             100.000000                77.027027
95722         100.000000               9.704822                 0.000000
4537           24.310571              38.502974                84.459459
23338          38.502974              24.310571                87.837838
37179          14.118452             100.000000                81.081081
93634         100.000000              14.118452                 0.000000
87409           5.573341             100.000000                78.378378
94939         100.000000               5.573341                 0.000000
14039           3.656513             100.000000                76.351351
93036         100.000000               3.656513                 0.000000
94337         100.000000               5.416121                 0.000000
64229           5.416121             100.000000                72.972973
58078          29.270617              24.310571                85.810811
5437           24.310571              29.270617                84.459459
83519           2.815683             100.000000                79.054054
93333         100.000000              10.582088                 0.000000
94836         100.000000               2.815683                 0.000000
25589          10.582088             100.000000                79.054054
64169           8.524114             100.000000                79.054054
94331         100.000000               8.524114                 0.000000
122860         33.704783              23.936817               100.000000
126621         23.936817              33.704783                89.189189
60389           1.761316             100.000000                77.027027
94239         100.000000               1.761316                 0.000000
10159          11.159324             100.000000                80.405405
25649           8.604860             100.000000                77.702703
35387          14.118452              38.502974                81.081081
24124          38.502974              14.118452                87.837838
93339         100.000000               8.604860                 0.000000
92934         100.000000              11.159324                 0.000000
44949           0.302339             100.000000                74.324324
93839         100.000000               0.302339                 0.000000
29419           0.749316             100.000000                76.351351
93430         100.000000               0.749316                 0.000000
52659           1.135575             100.000000                71.621622
93438         100.000000               0.787634                 0.000000
94038         100.000000               1.135575                 0.000000
92930         100.000000               0.381647                 0.000000

        Congestion_Score_Destination  Emissions_Score  Total_Score  \
25629                       0.000000       127.129145   521.981305
93337                      87.837838       127.103945   521.971763
92838                      84.459459       140.608207   494.355964
6339                        0.000000       139.107111   493.787608
96326                      84.459459        36.829197   484.163936
141429                      0.000000        36.172999   483.507738
17859                       0.000000        34.795803   468.883850
93132                      82.432432        34.644503   468.732551
23632                      82.432432       158.327357   467.881846
16057                      87.837838       158.288258   467.867042
139627                     87.837838       112.043887   463.604354
26826                      84.459459       112.018987   463.594926
118229                      0.000000       153.347671   459.138330
95722                      77.027027       152.866173   458.956022
4537                       87.837838       115.399577   458.658034
23338                      84.459459       115.296678   458.619073
37179                       0.000000        98.864224   454.902449
93634                      81.081081        98.836924   454.892112
87409                       0.000000       141.667504   445.593791
94939                      78.378378       141.626004   445.578078
14039                       0.000000       154.890367   444.727408
93036                      76.351351       154.687868   444.650736
94337                      72.972973       151.285277   444.456460
64229                       0.000000       150.078381   443.999496
58078                      84.459459       127.610543   443.033698
5437                       85.810811       127.583743   443.023551
83519                       0.000000       151.427177   442.765258
93333                      79.054054       102.080715   442.673181
94836                      79.054054       150.513679   442.419383
25589                       0.000000       100.567419   442.100206
64169                       0.000000       114.261881   441.808318
94331                      79.054054       113.879382   441.663494
122860                     89.189189       129.986037   440.214079
126621                    100.000000       129.972637   440.209005
60389                       0.000000       147.553688   437.360301
94239                      77.027027       147.338088   437.278669
10159                       0.000000        30.816914   436.917902
25649                       0.000000       102.850913   436.899379
35387                      87.837838        45.509073   436.825576
24124                      81.081081        45.480573   436.797076
93339                      77.702703       102.543713   436.783065
92934                      80.405405        30.629814   436.730803
44949                       0.000000       159.054755   435.644971
93839                      74.324324       158.859456   435.571025
29419                       0.000000       149.735782   435.541002
93430                      76.351351       149.505582   435.453842
52659                       0.000000       160.322652   435.161835
93438                      72.972973       157.762459   435.154273
94038                      71.621622       160.046953   435.057448
92930                      73.648649       157.888459   434.845033

        Normalized_Score
25629         100.000000
93337          99.998172
92838          94.707599
6339           94.598715
96326          92.755034
141429         92.629321
17859          89.827710
93132          89.798724
23632          89.635748
16057          89.632912
139627         88.816276
26826          88.814469
118229         87.960685
95722          87.925759
4537           87.868671
23338          87.861207
37179          87.149184
93634          87.147204
87409          85.365853
94939          85.362842
14039          85.199873
93036          85.185184
94337          85.147965
64229          85.060421
58078          84.875396
5437           84.873452
83519          84.823969
93333          84.806329
94836          84.757707
25589          84.696559
64169          84.640640
94331          84.612895
122860         84.335219
126621         84.334247
60389          83.788499
94239          83.772860
10159          83.703745
25649          83.700197
35387          83.686058
24124          83.680598
93339          83.677913
92934          83.667901
44949          83.459880
93839          83.445714
29419          83.439962
93430          83.423264
52659          83.367322
93438          83.365873
94038          83.347324
92930          83.306630

In [17]:
city_pair_weights_df = pd.read_pickle('city_pair_weights_df.pickle')
msa_weights_df = pd.read_pickle('msa_weights_df.pickle')

print(city_pair_weights_df.head())
print(msa_weights_df.head())

         City1            City2  drive_distance  drive_duration  \
0  Abilene, TX        Akron, OH     1327.729086          1159.0
1  Abilene, TX       Albany, GA      982.946785           910.0
2  Abilene, TX       Albany, NY     1812.063858          1578.5
3  Abilene, TX       Albany, OR     1912.769767          1746.5
4  Abilene, TX  Albuquerque, NM      487.537939           448.5

   flight_distance  flight_duration_ramp  flight_duration_air  \
0      1169.268938                   0.0                  0.0
1       915.647527                   0.0                  0.0
2      1581.642374                   0.0                  0.0
3      1511.136717                   0.0                  0.0
4       437.507433                   0.0                  0.0

   flight_duration_total  num_passengers  total_seats  ...  \
0                    0.0             0.0          0.0  ...
1                    0.0             0.0          0.0  ...
2                    0.0             0.0          0.0  ...
3                    0.0             0.0          0.0  ...
4                    0.0             0.0          0.0  ...

   flight_duration_air_norm  flight_duration_total_norm  num_passengers_norm  \
0                       0.0                         0.0                  0.0
1                       0.0                         0.0                  0.0
2                       0.0                         0.0                  0.0
3                       0.0                         0.0                  0.0
4                       0.0                         0.0                  0.0

   total_seats_norm  flight_frequency_norm  scheduled_norm  num_carriers_norm  \
0               0.0                    0.0             0.0                0.0
1               0.0                    0.0             0.0                0.0
2               0.0                    0.0             0.0                0.0
3               0.0                    0.0             0.0                0.0
4               0.0                    0.0             0.0                0.0

   efficiency_score  demand_weight  gaus_dist_weight
0               0.0            0.0     1.468063e-263
1               0.0            0.0     1.031056e-132
2               0.0            0.0      0.000000e+00
3               0.0            0.0      0.000000e+00
4               0.0            0.0      1.347587e-07

[5 rows x 27 columns]
                     MetroArea Population     MainCity        lat         lng  \
0                  Abilene, TX     181591  Abilene, TX  32.448736  -99.733144
1                    Akron, OH     698398    Akron, OH  41.081199  -81.518838
2                   Albany, GA     145508   Albany, GA  31.578507  -84.155741
3                   Albany, OR     131496   Albany, OR  44.636511 -123.105928
4  Albany-Schenectady-Troy, NY     904682   Albany, NY  42.652579  -73.756232

            GDP  TravelTimeIndexValue   PopNorm   GDPNorm   TTINorm  \
0  9.468978e+09                  1.07  0.006356  0.002896  0.065217
1  4.456246e+10                  1.12   0.03294  0.019143  0.173913
2  7.312400e+09                  1.07    0.0045  0.001897  0.065217
3  6.107649e+09                  1.06  0.003779  0.001339  0.043478
4  8.030286e+10                  1.12  0.043551  0.035689  0.173913

   demand_score  proximity_score  cluster_id
0      0.022540         0.430527         3.0
1      0.073243         0.743781         1.0
2      0.008479         0.596153         4.0
3      0.000000         0.430416         0.0
4      0.254976         0.583088         1.0

In [18]:
print("\nCity Pair Weights DataFrame Info:")
print(city_pair_weights_df.info())

print("\nMSA Weights DataFrame Info:")
print(msa_weights_df.info())

print("\nCity Pair Weights DataFrame Description:")
print(city_pair_weights_df.describe())

print("\nMSA Weights DataFrame Description:")
print(msa_weights_df.describe())

City Pair Weights DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69378 entries, 0 to 69377
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   City1                       69378 non-null  object
 1   City2                       69378 non-null  object
 2   drive_distance              69378 non-null  float64
 3   drive_duration              69378 non-null  float64
 4   flight_distance             69378 non-null  float64
 5   flight_duration_ramp        69378 non-null  float64
 6   flight_duration_air         69378 non-null  float64
 7   flight_duration_total       69378 non-null  float64
 8   num_passengers              69378 non-null  float64
 9   total_seats                 69378 non-null  float64
 10  flight_frequency            69378 non-null  float64
 11  scheduled                   69378 non-null  float64
 12  num_carriers                69378 non-null  float64
 13  drive_distance_norm         69378 non-null  float64
 14  drive_duration_norm         69378 non-null  float64
 15  flight_distance_norm        69378 non-null  float64
 16  flight_duration_ramp_norm   69378 non-null  float64
 17  flight_duration_air_norm    69378 non-null  float64
 18  flight_duration_total_norm  69378 non-null  float64
 19  num_passengers_norm         69378 non-null  float64
 20  total_seats_norm            69378 non-null  float64
 21  flight_frequency_norm       69378 non-null  float64
 22  scheduled_norm              69378 non-null  float64
 23  num_carriers_norm           69378 non-null  float64
 24  efficiency_score            69378 non-null  float64
 25  demand_weight               69378 non-null  float64
 26  gaus_dist_weight            69378 non-null  float64
dtypes: float64(25), object(2)
memory usage: 14.3+ MB
None

MSA Weights DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MetroArea             375 non-null    object
 1   Population            375 non-null    object
 2   MainCity              375 non-null    object
 3   lat                   375 non-null    float64
 4   lng                   375 non-null    float64
 5   GDP                   375 non-null    float64
 6   TravelTimeIndexValue  369 non-null    float64
 7   PopNorm               375 non-null    object
 8   GDPNorm               375 non-null    float64
 9   TTINorm               369 non-null    float64
 10  demand_score          375 non-null    float64
 11  proximity_score       373 non-null    float64
 12  cluster_id            373 non-null    float64
dtypes: float64(9), object(4)
memory usage: 38.2+ KB
None

City Pair Weights DataFrame Description:
       drive_distance  drive_duration  flight_distance  flight_duration_ramp  \
count    69378.000000    69378.000000     69378.000000          69378.000000
mean      1265.592174     1127.388207      1060.345149              7.843055
std        802.485381      710.510497       672.633547             36.781341
min         10.973412       17.000000         9.164717              0.000000
25%        648.515281      588.500000       534.800677              0.000000
50%       1074.579590      959.500000       901.894410              0.000000
75%       1797.492708     1583.000000      1516.872765              0.000000
max       4957.424908     4674.500000      3966.081295            497.000000

       flight_duration_air  flight_duration_total  num_passengers  \
count         69378.000000           69378.000000    6.937800e+04
mean              6.444454              18.745647    3.451693e+03
std              31.268438              79.879873    3.977951e+04
min               0.000000               0.000000    0.000000e+00
25%               0.000000               0.000000    0.000000e+00
50%               0.000000               0.000000    0.000000e+00
75%               0.000000               0.000000    0.000000e+00
max             426.000000             697.000000    4.152861e+06

        total_seats  flight_frequency     scheduled  ...  \
count  6.937800e+04      69378.000000  69378.000000  ...
mean   4.300098e+03         31.109948     31.286157  ...
std    4.861984e+04        313.780055    316.552930  ...
min    0.000000e+00          0.000000      0.000000  ...
25%    0.000000e+00          0.000000      0.000000  ...
50%    0.000000e+00          0.000000      0.000000  ...
75%    0.000000e+00          0.000000      0.000000  ...
max    4.891786e+06      27408.000000  28022.000000  ...

       flight_duration_air_norm  flight_duration_total_norm  \
count              69378.000000                69378.000000
mean                   0.015128                    0.026895
std                    0.073400                    0.114605
min                    0.000000                    0.000000
25%                    0.000000                    0.000000
50%                    0.000000                    0.000000
75%                    0.000000                    0.000000
max                    1.000000                    1.000000

       num_passengers_norm  total_seats_norm  flight_frequency_norm  \
count         69378.000000      69378.000000           69378.000000
mean              0.000831          0.000879               0.001135
std               0.009579          0.009939               0.011448
min               0.000000          0.000000               0.000000
25%               0.000000          0.000000               0.000000
50%               0.000000          0.000000               0.000000
75%               0.000000          0.000000               0.000000
max               1.000000          1.000000               1.000000

       scheduled_norm  num_carriers_norm  efficiency_score  demand_weight  \
count    69378.000000       69378.000000      69378.000000   69378.000000
mean         0.001116           0.006567          0.006465       0.000922
std          0.011297           0.038080          0.082583       0.010067
min          0.000000           0.000000          0.000000       0.000000
25%          0.000000           0.000000          0.000000       0.000000
50%          0.000000           0.000000          0.000000       0.000000
75%          0.000000           0.000000          0.000000       0.000000
max          1.000000           1.000000          5.206261       1.000000

       gaus_dist_weight
count      6.937800e+04
mean       2.960254e-02
std        1.127013e-01
min        0.000000e+00
25%        0.000000e+00
50%       6.777971e-127
75%        5.236582e-21
max        9.831202e-01

[8 rows x 25 columns]

MSA Weights DataFrame Description:
              lat         lng           GDP  TravelTimeIndexValue     GDPNorm  \
count  375.000000  375.000000  3.750000e+02            369.000000  375.000000
mean    37.969318  -92.758532  6.140157e+10              1.116531    0.026938
std      5.560210   15.993356  1.669727e+11              0.069183    0.077302
min     20.889302 -157.858140  3.214619e+09              1.040000    0.000000
25%     34.125170  -99.620348  8.287738e+09              1.070000    0.002349
50%     38.581572  -87.677251  1.635142e+10              1.100000    0.006082
75%     41.853942  -81.409917  4.010273e+10              1.140000    0.017078
max     64.840051  -68.771226  2.163209e+12              1.500000    1.000000

          TTINorm  demand_score  proximity_score  cluster_id
count  369.000000    375.000000       373.000000  373.000000
mean     0.166372      0.341278         0.544177    1.871314
std      0.150398      1.038835         0.147971    1.436677
min      0.000000      0.000000         0.102765    0.000000
25%      0.065217      0.000011         0.416973    1.000000
50%      0.130435      0.013913         0.558581    2.000000
75%      0.217391      0.130799         0.675469    3.000000
max      1.000000      7.544421         0.856574    5.000000

In [5]:
# Assuming `city_pair_weights_df` contains the weights and `distance_df` contains the base data
# Merge the weights into the `city_pairs` DataFrame
city_pairs = pd.merge(distance_df[['Origin', 'Destination', 'Distance_miles']], 
                      city_pair_weights_df[['City1', 'City2', 'gaus_dist_weight', 'demand_weight']],
                      left_on=['Origin', 'Destination'], 
                      right_on=['City1', 'City2'],
                      how='left')

# Merge the MSA weights (if necessary)
city_pairs = pd.merge(city_pairs, 
                      msa_weights_df[['MetroArea', 'demand_score', 'proximity_score', 'cluster_id']],
                      left_on='Origin', 
                      right_on='MetroArea',
                      how='left')
city_pairs = pd.merge(city_pairs, 
                      msa_weights_df[['MetroArea', 'demand_score', 'proximity_score', 'cluster_id']],
                      left_on='Destination', 
                      right_on='MetroArea',
                      how='left',
                      suffixes=('_Origin', '_Destination'))

# Now proceed with scoring using the `score_city_pairs_updated` function

NameError: name 'city_pair_weights_df' is not defined

In [ ]:
# Define the function to score city pairs with updated criteria
def score_city_pairs_updated(city_pairs):
    # Calculate scores for each city pair
    city_pairs['Distance_Score'] = city_pairs['Distance_miles'].map(score_distance)
    city_pairs['GDP_Score_Origin'] = city_pairs['Origin'].map(lambda x: score_gdp(city_gdp.get(x, 0)))
    city_pairs['GDP_Score_Destination'] = city_pairs['Destination'].map(lambda x: score_gdp(city_gdp.get(x, 0)))
    city_pairs['Congestion_Score_Origin'] = city_pairs['Origin'].map(lambda x: score_congestion(tti_data, x))
    city_pairs['Congestion_Score_Destination'] = city_pairs['Destination'].map(lambda x: score_congestion(tti_data, x))
    city_pairs['Emissions_Score'] = city_pairs['Distance_miles'].map(lambda x: score_emissions(x * 1.60934))  # Convert miles to km
    
    # Include the additional weights in the scoring
    city_pairs['Gaussian_Score'] = city_pairs['gaus_dist_weight']
    city_pairs['Demand_Score'] = city_pairs['demand_weight'] + city_pairs['demand_score_Origin'] + city_pairs['demand_score_Destination']
    city_pairs['Proximity_Score'] = city_pairs['proximity_score_Origin'] + city_pairs['proximity_score_Destination']
    
    # Add cluster-based scoring (more weight towards cluster alignment)
    city_pairs['Cluster_Score'] = np.where(city_pairs['cluster_id_Origin'] == city_pairs['cluster_id_Destination'], 15, 7)
    city_pairs['Cluster_Score'] = np.where(city_pairs['Demand_Score'] > 5, 15, city_pairs['Cluster_Score'])
    
    # Sum the scores to get a total score for each city pair with adjusted weights
    city_pairs['Total_Score'] = (
        0.4 * (city_pairs['Distance_Score']) +  # Reduced weight on distance
        0.8 * (city_pairs['GDP_Score_Origin'] + city_pairs['GDP_Score_Destination']) + 
        1.2 * (city_pairs['Congestion_Score_Origin'] + city_pairs['Congestion_Score_Destination']) + 
        1.5 * city_pairs['Emissions_Score'] + 
        1.8 * city_pairs['Gaussian_Score'] + 
        1.8 * city_pairs['Demand_Score'] + 
        1.5 * city_pairs['Proximity_Score'] + 
        2.0 * city_pairs['Cluster_Score']
    )

    # Normalize the total score to a scale of 100
    max_score = city_pairs['Total_Score'].max()
    city_pairs['Normalized_Score'] = (city_pairs['Total_Score'] / max_score) * 100

    return city_pairs

# Apply the updated scoring to the city pairs and filter based on distance
city_pairs = score_city_pairs_updated(city_pairs)
filtered_city_pairs = city_pairs[
    ~city_pairs['Origin'].str.contains(', AK|, HI') &
    ~city_pairs['Destination'].str.contains(', AK|, HI') &
    (city_pairs['Distance_miles'] <= 1000)
]

# Rank the filtered city pairs by their normalized scores
top_50_filtered_city_pairs = filtered_city_pairs.nlargest(50, 'Normalized_Score')

# Display the top 50 city pairs
print(top_50_filtered_city_pairs[['Origin', 'Destination', 'Distance_miles', 
                                  'Distance_Score', 'GDP_Score_Origin', 
                                  'GDP_Score_Destination', 'Congestion_Score_Origin', 'Congestion_Score_Destination', 
                                  'Emissions_Score', 'Gaussian_Score', 'Demand_Score', 
                                  'Proximity_Score', 'Cluster_Score', 'Total_Score', 'Normalized_Score']])